.register-container, .login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .btn{
  margin-bottom: 500px;
}
.login-container .btn{
  margin-bottom: 300px;
 
}